html, body {
    color: white;
    height: 100%;
    width: 100%;
    background: url(https://cdn.wallpapersafari.com/77/89/ms3kKF.jpg) center center fixed;
}

header, section {
    text-align: center;
}

ul {
    list-style: none;
}

img {
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}